# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Output
build/
dist/

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor Directories and Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Miscellaneous
*.tgz
*.zip
*.gz
*.gzip

# Coverage directory used by tools like istanbul
coverage/

# React Native
.expo/
